<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="${board.memberName}"> </h2>
        <h2>님의 글쓰기</h2>
    </div>


    <!-- 글쓰기 폼 -->
    <form th:action="@{/board}" th:object="${board}" method="post"  enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" th:field="*{title}"  maxlength="13" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="4" th:field="*{content}" required></textarea>
        </div>

        <!-- 기부 체크박스 -->
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" th:field="*{boardType}" onchange="toggleDonationBar()">
            <label class="form-check-label">기부게시판</label>
        </div>
        <div id="donationBar" style="display: none;">
            <label for="optionPoint">기부액 선택 (드래그 앤 드롭):</label>
            <input
                    type="range"
                    id="optionPoint"
                    name="optionPoint"
                    th:field="*{optionPoint}"
                    min="10000"
                    max="1001008"
                    step="10000"
                    value="1"
                    oninput="updateDonationValue()"
            />
            <span id="donationValue">10000</span> 원
        </div>

        <div>
            <input name="boardImage" type="file" multiple="multiple" class="upload-button"  >
        </div>

        <button type="submit" class="btn btn-primary">게시</button>
    </form>

</div> <!-- /container -->

<script th:inline="javascript">
    function updateDonationValue() {
        var donationRange = document.getElementById('optionPoint');
        var donationValue = document.getElementById('donationValue');
        donationValue.innerHTML = donationRange.value;
    }

    function toggleDonationBar() {
        var donationCheckbox = document.getElementById('boardType1');
        var donationBar = document.getElementById('donationBar');

        if (donationCheckbox.checked) {
            donationBar.style.display = 'block';
        } else {
            donationBar.style.display = 'none';
        }
    }
</script>
</body>
</html>
