<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>새 비밀번호</title>
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">새 비밀번호 설정</h4>
        </div>
        <div class="card-body">
          <form th:action="@{/new-password}" th:object="${newPassword}">
            <div th:if="${#fields.hasGlobalErrors()}">
              <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                 th:text="${err}">글로벌 오류 메시지</p>
            </div>
            <div class="form-group">
              <label for="newPassword">새 비밀번호</label>
              <input type="password" class="form-control" th:field="*{newPassword}" placeholder="새 비밀번호 입력하세요" required>
            </div>
            <div class="form-group">
              <label for="returnNewPassword">새 비밀번호 확인</label>
              <input type="password" class="form-control" th:field="*{returnNewPassword}" placeholder="새 비밀번호 확인" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block" >설정 완료</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
