<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/addlogin/login.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
  <title>로그인</title>
</head>
<body>

  <form id="loginForm" th:action th:object="${loginForm}" method="post" class="main">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}"
         th:text="${err}">전체 오류 메시지</p>
    </div>
    <div>
      <label for="loginId">로그인 ID</label>
      <input type="text" id="loginId" th:field="*{loginId}" class="inPutIDPW idid"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{loginId}" />
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="password" id="password" th:field="*{password}"
             class="inPutIDPW pwpw"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{password}" />
    </div>
        <button class="btnLogin" type="submit">
          로그인</button>
      <div class="singUpAll">
        <a th:href="@{/members/add}" class="singUp">회원가입</a>

      </div>

  </form>

</body>
</html>