<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="csh.football.board.domain.repository.mybatis.BoardMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into board(board_id,title,content, member_id,member_name,date,board_type)
        values(#{boardId},#{title},#{content},#{memberId},#{memberName},#{date},#{boardType})
    </insert>
    <update id="updateMemberName">
        update board set member_name=#{memberName} where member_id=#{memberId}
    </update>
    <update id="updateTitleAndContent">
        update board set title=#{title}, content=#{content}, `update`=#{update} where id=#{id}
    </update>

    <update id="updateViewCount">
        update board set view_count=#{viewCount} where id=#{id}
    </update>
    <delete id="delete">
        delete from board where id=#{id}
    </delete>
    <select id="findByMemberIdAndBoardId" resultType="Board">
        select * from board where member_id=#{memberId} and board_id=#{boardId}
    </select>

    <select id="findById" resultType="Board">
        select * from board where id=#{id}
    </select>

    <select id="findAll" resultType="board">
        select * from board
    </select>
    <select id="findSearchAll" resultType="Board">
        select * from board
        <where>
            <if test="memberName != null and memberName !=''">
                and member_name like concat('%',#{memberName},'%')
            </if>
            <if test="title != null and title != ''">
                and title like concat('%',#{title}, '%')
            </if>
        </where>
    </select>
</mapper>